:root{

  --primary-color : #451A64 ;
  --sec-color :  #241330 ;
  --black-color : #000000;
   --main-Font : Poppins ;
   --white-color : #ffffff;
   --fw400 : 400;
   --fw600 : 600 ;
   
}
